<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="traphan.ren95.the_automated_workplace_of_the_doctor_ambulance">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MedicalSearch"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name=".ResultActivity">
        </activity>
        <activity
            android:name=".SimptomActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".UpgradeActivity"
            android:label="@string/title_activity_upgrade"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".UserInformationActivity"
            android:label="@string/title_activity_user_information"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>